.contact {
  color: $color-dark;
  font-weight: $font-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: space-between;
  height: 400px;
  width: 250px;
  margin: auto;

  input,
  textarea {
    border: 2px solid black;
    line-height: 2;
  }

  button[type="submit"] {
    background-color: $color-middle;
    color: $color-light;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 40px;
    width: 100px;
    margin: 40px auto;
    border: none;
  }
}

@media (max-width: 575px) {
  .contact {
    height: 400px;
    margin-top: 100px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact {
    height: 400px;
    margin-top: 100px;
  }

}