header {
  height: 500px;
  padding: 20px;

}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  opacity: 0.9;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background.png) no-repeat;
  background-size: cover;
}

.fa {
  font-size: 26px;
  color: rgb(197, 188, 176);
}

.logo-header {
  color: $color-light;
  line-height: 5px;
  display: inline-block;
  width: 30%;
  text-align: left;
  margin-left: 20%;


  h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 8px;
  }

  h3 {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: $font-semibold;
    letter-spacing: 4px;
  }
}

.main-nav {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  width: 40%;
  text-align: right;
  top: -20px;

  a {
    margin: 10px;
    color: rgb(197, 188, 176);
    text-decoration: none;
  }
}

.page-title {
  color: #BEA67C;
  line-height: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 20px;


  &.left {
    margin-left: -150px;
  }

  &.right {
    margin-right: -100px;
  }
}

.page-title:after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  width: 200px;
  height: 4px;
  transform: translateX(-50%);
  background: $color-middle;
}

.page-subtitle {
  color: $color-light;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  h2 {
    font-size: 20px;
    font-weight: $font-normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

}

// Media query

@media (min-width: 576px) and (max-width: 768px) {
  header {
    height: 430px;
  }

  .page-title {
    top: 23%;

    h1 {
      font-size: 20px;
      letter-spacing: 5px;
      margin-left: -120px;
    }
  }

  .page-subtitle {
    top: 43%;
  }

  .logo-header {
    line-height: 15px;
  }

  .page-title:after {
    left: 50%;
    width: 80px;
    height: 4px;
  }
  
}

@media (max-width: 575px) {
  header {
    height: 400px;
  }

  .page-title {
    top: 23%;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 25px;
  }

  .page-subtitle {
    top: 38%;
  }

  .logo-header {
    line-height: 15px;
  }

  .page-title:after {
    left: 50%;
    width: 80px;
    height: 4px;
  }

  header::before {
    height: 400px;
  }
}

@media (min-width: 576px) and (max-width: 768px)  {
  .page-title {
    h1 {
      font-size: 60px;
      letter-spacing: 7px;
      margin-left: -100px;
    }
  }

  .logo-header {
    line-height: 15px;
  }

  .page-title:after {
    left: 50%;
    width: 80px;
    height: 4px;
  }
}
